In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the  variable print it.

In [2]:
(Answer):

import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data: 

Name 
Alice 
Bob 
Claire 
      Age 
      25 
      30 
      27 
         Gender 
         Female 
          Male 
         Female 
                
Then, print the DataFrame.

In [3]:
(Answer):

import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
(Answer):
In pandas, a DataFrame is a two-dimensional tabular data structure that consists of rows and columns, similar 
to a spreadsheet or a SQL table. It is one of the core data structures provided by the pandas library, and it's
used for handling and analyzing structured data. Each column in a DataFrame can hold data of a different data 
type (e.g., integers, strings, floats), and each row represents a record or observation.

Example:

In [4]:
import pandas as pd

# Creating a DataFrame
data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}
df = pd.DataFrame(data)

# Creating a Series
ages = pd.Series([25, 30, 27], name="Age")

print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
(Answer):
Pandas provides a wide range of functions for manipulating data in a DataFrame. Here are some common functions 
and methods along with examples of how they can be used:

In [ ]:
head() and tail(): These methods allow you to view the first few (head) or last few (tail) rows of the DataFrame.
# Viewing the first 5 rows of a DataFrame
df.head()

# Viewing the last 3 rows of a DataFrame
df.tail(3)

describe(): This method provides summary statistics of numeric columns in the DataFrame.
# Summary statistics of numeric columns
df.describe()

info(): This method displays concise information about the DataFrame, including column data types and non-null 
counts.
# Displaying information about the DataFrame
df.info()

sort_values(): This function is used to sort the DataFrame based on one or more columns.
# Sorting the DataFrame by the 'Age' column in ascending order
df_sorted = df.sort_values(by='Age')

groupby(): This function is used for grouping data based on one or more columns and applying an aggregation function.
# Grouping the DataFrame by the 'Gender' column and calculating the mean age for each group
age_by_gender = df.groupby('Gender')['Age'].mean()

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
(Answer):
Series and DataFrame are mutable in nature in the context of pandas.

Series: You can modify the values of a Series after it's been created. For example, you can change individual 
elements by index or apply operations to the entire Series.

DataFrame: Similar to Series, you can modify the values in DataFrame cells, add or remove columns, and perform 
various data manipulations.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
(Answer):
Creating a DataFrame using multiple Series is a common operation in pandas. You can think of a DataFrame as a 
collection of Series that share a common index. Each Series represents a column in the DataFrame. Let's walk 
through an example:

In [5]:
import pandas as pd

# Creating individual Series for each column
names = pd.Series(["Alice", "Bob", "Claire"])
ages = pd.Series([25, 30, 27])
grades = pd.Series([85, 92, 78])

# Creating a DataFrame using the Series
data = {
    "Name": names,
    "Age": ages,
    "Grade": grades
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Grade
0   Alice   25     85
1     Bob   30     92
2  Claire   27     78